python-dotenv
langchain
langchain-community
langchain-anthropic
mysql
mysql-connector-python
sqlalchemy
pydantic
kafka-python
confluent_kafka
chromadb
openai
langchain-chroma
langchain-openai
langchain-ollama
paramiko
redis
pandas